.city_box{
    width:100%;
    height: 100%;
}
.city_canvas{
    width: 100%;
    height: 100%;
}
.map_box{
    width: 100%;
    height: 100%;
}
.map{
    width: 100%;
    height: 80%;
}
.map_stat{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.map_circle{
    height: 100%;
    width:50%;
}
.map_line{
    height: 100%;
    width: 50%;
}